.grid_vis {
  display: none;
}

.nav_menu {
  position: fixed;
  border-bottom: 2px solid black;
  width: 100%;
  display: block;
}

.nav_menu p {
  
}

.projects {
  padding-top: 50px;
  display: block;
}

.projects--project {
  border: 1px solid black;
  margin-top: 50px;
  display: block;
}

.projects--project p {
  padding: 5px 5px;
}
