.grid_vis {
  display: none;
}

.nav_menu {
  width: 100%;
  border-bottom: 2px solid black;
  position: fixed;

}

.projects {
  
}

.projects--project {
  border: 1px solid black;
  margin-top: 50px;
}

