.grid_vis {
  display: none;
}

.nav_menu {
  position: fixed;
  border-bottom: 2px solid black;
  width: 100%;
}

.padding {
  margin-top: 58px;
  display: block;
}
.projects {
  display: block;
}

.projects--project {
  border: 1px solid black;
  margin-top: 50px;
}

